body{
    margin:0;
}
#map{
    width:100vw;
    height:100vh;
}
button{
    border:2px black solid;
    background:rgba(255,255,255,0.7);
    font-size:14pt !important;
}
button:hover{
    background:rgba(0,0,0,0.3);
}
/*splash modal*/
#splash-dialogue, #splash-content, #splash-modal{
    margin:0;
    max-width: 100vw !important;
    width:100vw !important;
    height:100vh !important;
}
#splash-content{
    border-radius: 0;
}
#splash-body{
    height:100%;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
#splash-content p{
    font-size:18px;
    height: calc(100% - 70px);
    
}
#start{
    margin:auto;
}

/*modal styling*/
#title-container{
    padding-left:10px;
}
#stop-content{
    width:100vw;
    margin:0;
    border-radius: 0;
}
#stop-dialogue{
    height:100vh;
    margin:0;
}
#stop-body{
    height:100%;
    overflow:scroll;
}
#stop-img{
    width:100%;
}
#stop-text{
    font-size:20px;
}
#stop-footer{
    display:block !important;
}
#prev{
    float:left;
}
#next{
    float:right;
}
/*center button*/
#center{
    display:block;
    width:100px;
    height:40px;
    position:absolute;
    top:10px;
    right:10px;
    z-index:400;
    font-size:20px;
    font-weight:bold;
}
